/* line 17, /Users/ltackett/.rvm/gems/ruby-2.0.0-p0@browserwrangler/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/ltackett/.rvm/gems/ruby-2.0.0-p0@browserwrangler/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/ltackett/.rvm/gems/ruby-2.0.0-p0@browserwrangler/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/ltackett/.rvm/gems/ruby-2.0.0-p0@browserwrangler/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/ltackett/.rvm/gems/ruby-2.0.0-p0@browserwrangler/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/ltackett/.rvm/gems/ruby-2.0.0-p0@browserwrangler/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/ltackett/.rvm/gems/ruby-2.0.0-p0@browserwrangler/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/ltackett/.rvm/gems/ruby-2.0.0-p0@browserwrangler/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/ltackett/.rvm/gems/ruby-2.0.0-p0@browserwrangler/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "VeraMono";
  src: url("../fonts/VeraMono.ttf") format("truetype");
}

/* line 1, _sass/global/_basics.scss */
body {
  background: #0c1021;
  color: #f8f8f8;
  font-family: 'VeraMono', Monaco, Consolas, "Lucida Console", monospace, monospace;
  font-size: 80%;
  width: 80ch;
  margin: auto;
  padding: 3.75em 0 3.75em;
  line-height: 1.25em;
}

/* line 12, _sass/global/_basics.scss */
a {
  color: #61ce3c;
}

/* line 16, _sass/global/_basics.scss */
h2, h3 {
  color: #e75d6a;
  margin-bottom: 1.5em;
}
/* line 20, _sass/global/_basics.scss */
h2:before, h3:before {
  content: "// ";
}
/* line 21, _sass/global/_basics.scss */
h2:after, h3:after {
  color: #e75d6a;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  content: '// ========================================================================================================================================================================';
}

/* line 26, _sass/global/_basics.scss */
img {
  border: 2px solid #ffffff;
}

/* line 28, _sass/global/_basics.scss */
.highlight {
  margin-bottom: 2.5em;
  overflow: hidden;
}
/* line 33, _sass/global/_basics.scss */
.highlight:before, .highlight:after {
  color: #e75d6a;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  content: '// ========================================================================================================================================================================';
}
/* line 35, _sass/global/_basics.scss */
.highlight:before {
  margin-bottom: 1.25em;
}
/* line 36, _sass/global/_basics.scss */
.highlight:after {
  margin-top: 1.25em;
}

/* line 39, _sass/global/_basics.scss */
section.main {
  margin-bottom: 3.75em;
}

/* line 2, _sass/global/_footer.scss */
footer a {
  color: #f8f8f8;
  text-decoration: none;
}
/* line 3, _sass/global/_footer.scss */
footer p {
  color: #7f90aa;
  margin-bottom: 1.25em;
}
/* line 5, _sass/global/_footer.scss */
footer dl {
  overflow: hidden;
}
/* line 8, _sass/global/_footer.scss */
footer dl dt, footer dl dd {
  float: left;
}
/* line 10, _sass/global/_footer.scss */
footer dl dt {
  clear: left;
  color: #ff6400;
  width: 15ch;
}
/* line 15, _sass/global/_footer.scss */
footer dl dt:after {
  content: ": ";
}

/* line 2, _sass/global/_header.scss */
header.site-header h1 {
  display: inline;
  color: #ff6400;
}
/* line 6, _sass/global/_header.scss */
header.site-header h1:after {
  color: #f8f8f8;
  content: " );";
}
/* line 8, _sass/global/_header.scss */
header.site-header h1 a {
  text-decoration: none;
  background: transparent;
  color: #ff6400;
}
/* line 13, _sass/global/_header.scss */
header.site-header h1 a:after {
  color: #f8f8f8;
  content: "(";
}
/* line 16, _sass/global/_header.scss */
header.site-header h1 p.subheader {
  display: inline;
  color: #61ce3c;
}
/* line 20, _sass/global/_header.scss */
header.site-header h1 p.subheader:before {
  content: '"';
}
/* line 21, _sass/global/_header.scss */
header.site-header h1 p.subheader:after {
  content: '"';
}
/* line 25, _sass/global/_header.scss */
header.site-header .about {
  color: #e75d6a;
  margin: 1.25em 0;
}
/* line 29, _sass/global/_header.scss */
header.site-header .about p:before {
  content: "// ";
}

/* line 2, _sass/partials/_blog_index.scss */
#blog-index span.date {
  color: #d8fa3c;
}
/* line 5, _sass/partials/_blog_index.scss */
#blog-index span.hashrocket:after {
  content: " => ";
}
/* line 8, _sass/partials/_blog_index.scss */
#blog-index p {
  margin: 1.25em 0;
}
/* line 10, _sass/partials/_blog_index.scss */
#blog-index li {
  margin-bottom: 1.25em;
}
/* line 12, _sass/partials/_blog_index.scss */
#blog-index li:not(:last-child):after {
  color: #e75d6a;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  content: '// ========================================================================================================================================================================';
  margin-bottom: 1.25em;
}

/* line 1, _sass/partials/_comments.scss */
.comments {
  padding: 2.5em 0 0;
}

/* line 2, _sass/partials/_post.scss */
.post h2 {
  overflow: hidden;
  color: #e75d6a;
  margin-bottom: 1.5em;
}
/* line 7, _sass/partials/_post.scss */
.post h2 span.meta {
  float: right;
}
/* line 11, _sass/partials/_post.scss */
.post p {
  margin-bottom: 1.25em;
}
/* line 12, _sass/partials/_post.scss */
.post p:last-child {
  margin-bottom: 0;
}
/* line 15, _sass/partials/_post.scss */
.post ul {
  list-style: disc;
}
/* line 17, _sass/partials/_post.scss */
.post ol {
  list-style: decimal;
}
/* line 19, _sass/partials/_post.scss */
.post ul, .post ol {
  list-style-position: inside;
  margin-bottom: 1.25em;
}
